<div id="quotes" class="col-sm-4">
    <blockquote>
        <p>"Do what you can, with what you have, where you are."</p>
        <footer>Theodore Roosevelt</footer>
    </blockquote>
    <blockquote>
        <p>“Inspiration is a guest that does not willingly visit the lazy.”</p>
        <footer>Tchaikovsky</footer>
    </blockquote>
    <blockquote>
        <p>"Let me drop everything and work on your freaking problem."</p>
        <footer>LENOBA</footer>
    </blockquote>

</div>

<div class="col-sm-8">
    <p class="container-fluid" style="align-content: right"><img class = "w-auto" src="http://weknowmemes.com/wp-content/uploads/2012/06/finding-new-ways-to-be-lazy-ecard.jpg"/></p>
</div>


<style>
    img {
        display: block;
        float: right;
    }
</style>